<template>
    <v-container grid-list-md class="mb-5">
        <v-subheader class="heading">
            All Blogs
        </v-subheader>
        <v-layout wrap>
            <BlogItem v-for="blog in blogs" :key="`blog-${blog.id}`" :blog="blog"></BlogItem>
        </v-layout>
        <v-pagination v-model="page" @input="getBlogs" :length="pageLength" :total-visible="perPage">

        </v-pagination>
    </v-container>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
    import BlogItem from '../components/BlogItem'
  export default {
    data: () => ({
      apiDomain: 'https://demo-api-vue.sanbercloud.com',
    //   blogs: [],

    }),
    components: {
        'BlogItem' : BlogItem
    },
    props: ['blog'],
    computed: {
        ...mapGetters({
            blogs: 'blog/blogs',
        }),
        page: {
            get(){
                return this.$store.getters['blog/page']
            },
            set(value){
                this.setPage(value)
            }
        },
        pageLength: {
            get(){
                return this.$store.getters['blog/pageLength']
            },
            set(value){
                this.setPageLength(value)
            }
        },
        perPage: {
            get(){
                return this.$store.getters['blog/perPage']
            },
            set(value){
                this.setPerPage(value)
            }
        },
    },
    methods: {
        ...mapActions({
            getBlogs: 'blog/getPaginateBlogs',
            setPage: 'blog/setPage',
            setPageLength: 'blog/setPageLength',
            setPerPage: 'blog/setPerPage',
        }),

    },
    created(){
        this.getBlogs()
    }
  }
</script>