<template>
  <v-container grid-list-md class="mb-5">
    <div class="text-right">
      <v-btn small text to="/blogs" class="orange--text"> All Blogs <v-icon>mdi-chevron-right</v-icon></v-btn>
    </div>
    <v-layout wrap>
      <BlogItem v-for="blog in blogs" :key="`blog-${blog.id}`" :blog="blog"></BlogItem>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
 import BlogItem from '../components/BlogItem'
  export default {
    data: () => ({
      apiDomain: 'https://demo-api-vue.sanbercloud.com',
      // blogs: []
    }),
    computed: {
      ...mapGetters({
          blogs: 'blog/blogs'
      })
    },
    components: {
      'BlogItem': BlogItem
    },
    methods: {

        ...mapActions({
            getBlogs: 'blog/getBlogs'
        }),
        // const api = this.apiDomain+'/api/v2/blog/random/4'
        // this.axios.get(api)
        // .then(response => {
        //   let {blogs} = response.data
        //     this.blogs = blogs
        // })
        // .catch(error => { console.log(error)})
    },
    created(){
      this.getBlogs()
    }
  }
</script>
