<template>
    <v-flex xs6>
        <v-card>
          <v-img :src="blog.photo ? apiDomain + blog.photo : 'https://placeimg.com/200/300/nature'" height="200px" class="white--text">
            <v-card-title class="fill-height align-end" v-text="blog.title"></v-card-title>
          </v-img>
            <v-card-actions>
                <v-progress-linear color="blue-gray" height="7"></v-progress-linear>
            </v-card-actions>
            <v-card-actions>
              <span>{{blog.description.substring(0,15)}}...</span>
            </v-card-actions>
            <v-card-actions>
                <v-row align="center">
                    <v-col xs="12" lg="6">
                        <v-btn x-small depressed class="orange--text text-center" :to="`/blog/${blog.id}`" dark>read more</v-btn>
                    </v-col>
                    <v-col class="text-right" xs="12" lg="6" v-if="!guest">
                        <v-menu transition="slide-y-transition">
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn v-bind="attrs" v-on="on" icon>
                                <v-icon>mdi-dots-vertical</v-icon>
                            </v-btn>
                        </template>
                        <v-list dense>
                            <v-list-item>
                                <v-btn depressed icon color="primary" @click="toEdit(blog)"><v-icon>mdi-pencil</v-icon></v-btn>
                            </v-list-item>
                            <v-list-item>
                                <v-btn depressed icon color="orange" @click="toUpload(blog)"><v-icon>mdi-camera</v-icon></v-btn>
                            </v-list-item>
                            <v-list-item>
                                <v-btn depressed icon color="red" @click="deleteBlog(blog)"><v-icon>mdi-delete</v-icon></v-btn>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                    </v-col>
                </v-row>

            </v-card-actions>
        </v-card>
      </v-flex>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
    data: () => ({
        apiDomain: 'https://demo-api-vue.sanbercloud.com',
    }),
    props: ['blog'],
    computed: {
        ...mapGetters({
            guest: 'auth/guest',
            token: 'auth/token',
        })
    },
    methods: {
        ...mapActions({
            setAlert: 'alert/set',
            setDialogComponent: 'dialog/setComponent',
            setBlogSelected: 'blog/setBlog',
            setStatusForm: 'blog/setStatusForm',
            setStatusUpload: 'blog/setStatusUpload',
            getBlogs: 'blog/getBlogs',
            getPaginateBlogs: 'blog/getPaginateBlogs',
        }),
        toEdit(item){
            this.setDialogComponent({'component' : 'FormInput'})
            this.setBlogSelected(item)
            this.setStatusForm('update')
        },
        toUpload(item){
            this.setStatusUpload(true)
            this.setDialogComponent({'component' : 'FormInput'})
            this.setBlogSelected(item)
            this.setStatusForm('upload')
        },
        deleteBlog(item){
            if(confirm("Yakin menghapus blog dengan judul "+item.title+"?")){
                const config = {
                    method: 'post',
                    url: `${this.apiDomain}/api/v2/blog/${item.id}?_method=DELETE`,
                    headers: {
                        'Authorization': 'Bearer '+ this.token
                    }
                }

                this.axios(config)
                    .then(() => {

                        this.setAlert({
                            status: true,
                            color: 'success',
                            text: 'Berhasil menghapus blog'
                        })
                        if(this.$route.name === 'Home'){
                            this.getBlogs()
                        }

                        if(this.$route.name === 'Blogs'){
                            this.getPaginateBlogs()
                        }

                    })
                    .catch(response => {
                        console.log(response.data)
                        this.setAlert({
                            status: true,
                            color: 'error',
                            text: 'gagal menghapus blog'
                        })
                    })
            }
        }

    }
}
</script>