<template>
    <v-card>
        <v-toolbar dark color="orange">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Form Input</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container fluid>
            <v-form ref="form">
                <v-text-field :disabled="isUpload" v-model="title" :rules="required" required append-icon="mdi-format-title" label="Title" ref="title"></v-text-field>
                <v-textarea :disabled="isUpload" label="Description" :rules="required" required auto-grow rows="3" v-model="description"  append-icon="mdi-post" ref="description"></v-textarea>
                <v-file-input prepend-icon="" append-icon="mdi-paperclip" :rules="required" v-if="status==='upload'" ref="photo" show-size @change="selectedFile"></v-file-input>
                <div class="text-xs-center mt-5">
                    <v-btn color="success" @click="submit" block v-if="status==='submit'">{{ status }} <v-icon right dark>mdi-send</v-icon></v-btn>
                    <v-btn color="primary" @click="update" block v-else-if="status === 'update'">{{ status }} <v-icon right dark>mdi-send</v-icon></v-btn>
                    <v-btn color="orange" @click="upload" block v-else-if="status === 'upload'">{{ status }} <v-icon right dark>mdi-send</v-icon></v-btn>
                </div>
            </v-form>
        </v-container>
    </v-card>
</template>
<script>

import { mapActions, mapGetters } from 'vuex'
export default {
    data(){
        return {
            file: undefined,
            required: [
                v => !!v || 'this item is required'
            ],
            formStatus: 'submit',
            apiDomain: 'https://demo-api-vue.sanbercloud.com'
        }
    },
    computed: {
        ...mapGetters({
            token: 'auth/token',
            blogItem: 'blog/blogItem',
            isUpload: 'blog/isUpload',
            status: 'blog/statusForm',
        }),
        title: {
            get(){
               return this.$store.getters['blog/title']
            },
            set(value){
                this.setBlogTitle(value)
            }
        },
        description: {
            get(){
                 return this.$store.getters['blog/description']
            },
            set(value){
                this.setBlogDescription(value)
            }
        },
    },

    methods: {
        ...mapActions({
            setAlert: 'alert/set',
            setToken: 'auth/setToken',
            setBlog: 'blog/setBlog',
            setBlogTitle: 'blog/setBlogTitle',
            setBlogDescription: 'blog/setBlogDescription',
            setStatusForm: 'blog/setStatusForm',
            getBlogs: 'blog/getBlogs',
            getPaginateBlogs: 'blog/getPaginateBlogs',
            setStatusUpload: 'blog/setStatusUpload'
        }),
        selectedFile(file){
            this.file = file
        },
        close(){
            this.$emit('closed', false)
            this.$refs.form.reset()
            this.setBlog({})
            this.setBlogTitle("")
            this.setBlogDescription("")
            this.setStatusForm('submit')
            this.setStatusUpload(false)
            this.file = undefined
        },
        upload(){
            if(this.$refs.form.validate()){
                let form = new FormData()
                form.append('photo', this.file)

                const config = {
                    method: 'post',
                    url: `${this.apiDomain}/api/v2/blog/${this.blogItem.id}/upload-photo`,
                    data: form,
                    headers: {
                        'Authorization': 'Bearer '+ this.token
                    }
                }

                this.axios(config)
                    .then(() => {

                        this.setAlert({
                            status: true,
                            color: 'success',
                            text: 'Berhasil mengunggah gambar blog'
                        })
                        this.close()
                        if(this.$route.name === 'Home'){
                            this.getBlogs()
                        }

                        if(this.$route.name === 'Blogs'){
                            this.getPaginateBlogs()
                        }

                    })
                    .catch(response => {
                        console.log(response.data)
                        this.setAlert({
                            status: true,
                            color: 'error',
                            text: 'gagal mengunggah gambar blog'
                        })
                    })
            }
        },

        submit(){
            if(this.$refs.form.validate()){
                let form = new FormData()
                form.append('title', this.title)
                form.append('description', this.description)

                const config = {
                    method: 'post',
                    url: this.apiDomain + "/api/v2/blog",
                    data: form,
                    headers: {
                        'Authorization': 'Bearer '+ this.token
                    }
                }

                this.axios(config)
                    .then(() => {

                        this.setAlert({
                            status: true,
                            color: 'success',
                            text: 'Berhasil menambah data blog'
                        })

                        this.close()
                        if(this.$route.name === 'Home'){
                            this.getBlogs()
                        }

                        if(this.$route.name === 'Blogs'){
                            this.getPaginateBlogs()
                        }

                    })
                    .catch(response => {
                        console.log(response.data)
                        this.setAlert({
                            status: true,
                            color: 'error',
                            text: 'gagal menambah data blog'
                        })
                    })
            }

        },
        update(){
            if(this.$refs.form.validate()){
                let form = new FormData()
                form.append('title', this.title)
                form.append('description', this.description)

                const config = {
                    method: 'post',
                    url: `${this.apiDomain}/api/v2/blog/${this.blogItem.id}?_method=PUT`,
                    data: form,
                    headers: {
                        'Authorization': 'Bearer '+ this.token
                    }
                }

                this.axios(config)
                    .then(() => {

                        this.setAlert({
                            status: true,
                            color: 'success',
                            text: 'Berhasil mengubah data blog'
                        })
                        this.close()
                        if(this.$route.name === 'Home'){
                            this.getBlogs()
                        }

                        if(this.$route.name === 'Blogs'){
                            this.getPaginateBlogs()
                        }

                    })
                    .catch(response => {
                        console.log(response.data)
                        this.setAlert({
                            status: true,
                            color: 'error',
                            text: 'gagal mengubah data blog'
                        })
                    })
            }
        }
    },

}
</script>