<template>
    <v-card>
        <v-toolbar dark color="primary">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Register</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container fluid>
            <v-form ref="form">
                <v-text-field v-model="name" required append-icon="mdi-account" label="Name"></v-text-field>
                <v-text-field v-model="email" label="E-mail" required append-icon="mdi-email"></v-text-field>
                <v-text-field v-model="password" :append-icon="showPassword ? `mdi-eye`: `mdi-eye-off`" :type="showPassword ? `text`: `password`" label="Password" counter @click:append="showPassword = !showPassword"></v-text-field>
                <v-file-input show-size placeholder="Photo" append-icon="mdi-paperclip" prepend-icon="" v-model="photo_profile"></v-file-input>
                <div class="text-xs-center">
                    <v-btn color="success lighten-1" @click="submit">Submit <v-icon right dark>mdi-lock-open</v-icon></v-btn>
                </div>
            </v-form>
        </v-container>
    </v-card>
</template>
<script>
import { mapActions } from 'vuex'
export default {
    data(){
        return {
            name: '',
            email: '',
            password: '',
            photo_profile: null,
            showPassword: false,
            apiDomain: 'https://demo-api-vue.sanbercloud.com'
        }
    },
    methods: {
        ...mapActions({
            setAlert: 'alert/set',
            setToken: 'auth/setToken'
        }),
        close(){
            this.$emit('closed', false)
        },

        submit(){
            console.log(this.photo_profile)
            let form = new FormData()
            form.append('name', this.name)
            form.append('email', this.email)
            form.append('password', this.password)
            form.append('photo_profile', this.photo_profile)

            const config = {
                method: 'post',
                url: this.apiDomain + "/api/v2/auth/register",
                data: form
            }

            this.axios(config)
                .then(response => {
                    let email = response.data.user.email
                    this.setAlert({
                        status: true,
                        color: 'success',
                        text: 'Register Berhasil, Silahkan Login dengan email '+email
                    })

                    this.close()
                })
                .catch(response => {
                    console.log(response.data)
                    this.setAlert({
                        status: true,
                        color: 'error',
                        text: 'Register Gagal'
                    })
                })
        }
    }
}
</script>