<template>
  <!-- App.vue -->
  <v-app>
    <Alert />
    <DialogComponent />
  <v-navigation-drawer app v-model="drawer">
      <v-list shaped>
        <v-list-item v-if="!guest">
          <v-list-item-avatar>
            <v-img :src="user.photo_profile ? apiDomain + user.photo_profile : 'https://i.pravatar.cc/200?img=14'"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{ user.name }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <section class="pa-2" v-if="guest">
          <v-btn block color="primary" class="mb-1" @click="login">
            <v-icon left>mdi-login</v-icon> Login
          </v-btn>
          <v-btn block color="success" class="mb-1" @click="register">
            <v-icon left>mdi-account-plus</v-icon> Register
          </v-btn>
        </section>

        <section class="mt-6">
          <v-list-item v-for="(item, index) in menus" :key="`menu-${index}`" :to="item.route" color="red darken-1">
            <v-list-item-icon>
              <v-icon left v-text="item.icon"></v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
        </v-list-item>
        </section>
      </v-list>

      <template v-slot:append v-if="!guest">
        <section class="pa-2">
          <v-btn block color="red" dark @click="logout">
            <v-icon left>mdi-logout-variant</v-icon> Logout
          </v-btn>
        </section>
      </template>
  </v-navigation-drawer>

  <v-app-bar app color="red darken-1" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-app-bar-title> <span class="title font-weight-bold">Simple Blog</span></v-app-bar-title>

      <v-spacer></v-spacer>
  </v-app-bar>

  <!-- Sizes your content based upon application components -->
  <v-main>

      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <v-slide-y-transition>
          <!-- If using vue-router -->
          <router-view></router-view>
        </v-slide-y-transition>

        <v-btn class="mb-5" fab bottom right fixed color="orange" large @click.prevent="showFormInput" retain-focus-on-click v-if="!guest"><v-icon>mdi-plus</v-icon></v-btn>
      </v-container>
  </v-main>

  <v-footer app color="red darken-4" dark>
    <v-col class="text-center">
        Sanbercode Vue Batch 24 &copy; myTeam
    </v-col>
  </v-footer>
  </v-app>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
    name: 'App',
    components: {
        Alert: () => import('./components/Alert.vue'),
        'DialogComponent': () => import('./components/Dialog.vue')
    },
    data: () => ({
        drawer: false,

        menus: [
        { title: 'Home', icon: 'mdi-home', route: '/'},
        { title: 'Blogs', icon: 'mdi-note-multiple', route: '/blogs'},
        ],
        apiDomain: 'https://demo-api-vue.sanbercloud.com'
    }),
    computed: {
        ...mapGetters({
            guest: 'auth/guest',
            user: 'auth/user',
            token: 'auth/token'
        })
    },
    methods: {
        login(){
            this.setDialogComponent({'component' : 'Login'})
        },
        register(){
          this.setDialogComponent({'component' : 'Register'})
        },
        showFormInput(){
          this.setDialogComponent({'component' : 'FormInput'})
        },
        logout(){
            let config = {
                method: 'post',
                url: 'https://demo-api-vue.sanbercloud.com/api/v2/auth/logout',
                headers: {
                    'Authorization': 'Bearer '+ this.token
                }
            }

            this.axios(config)
                .then(() => {
                    this.setToken('')
                    this.setUser({})
                    this.setAlert({
                        status: true,
                        color: "success",
                        text: "Anda berhasil logout"
                    })
                })
                .catch(response => {
                    // console.log(response)
                    this.setAlert({
                        status: true,
                        color: "error",
                        text: response.data.error
                    })
                })

        },
        ...mapActions({
            setAlert: 'alert/set',
            setDialogComponent: 'dialog/setComponent',
            setToken: 'auth/setToken',
            setUser: 'auth/setUser',
            checkToken: 'auth/checkToken'
        })
    },
    mounted(){
        if(this.token){
            this.checkToken(this.token)
        }
    }

};
</script>
